body{
  font-family: 'Roboto Slab', serif;
}
td{
  border: 1px solid black;
  height: 60px;
  width: 60px;
  background: lightgray;
  text-align: center;
}
p{
  color: white;
}
.logo{
  height: 20px;
  margin: 0px;
}

table {
  background: gray;
}
